---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo">{{ metadata.title }}</h1>
  <p>Photographer and Web Designer.</p>
  <img src="{{ 'img/w3images/man_smoke.jpg' | url }}" alt="boy" class="w3-image" width="992" height="1108">
</header>

<!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half">
    {% for post in collections.photo | head(-8) %}
      {% if loop.index==4 %}
      </div><div class="w3-half">
      {% endif %}
        <img src = "{{ post.data.image | url }}" style="width:100%" > 
        
    {% endfor %}
    
    </div>
     
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>


<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
