---
layout: layouts/home.njk
eleventyNavigation:
  key: Photos
  order: 3
  url: \#photos
---

<!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="{{ 'img/w3images/wedding.jpg' | url }}" style="width:100%">
        <img src="{{ 'img/w3images/rocks.jpg' | url }}" style="width:100%">
        <img src="{{ 'img/w3images/sailboat.jpg' | url }}" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="{{ 'img/w3images/underwater.jpg' | url }}" style="width:100%">
        <img src="{{ 'img/w3images/chef.jpg' | url }}" style="width:100%">
        <img src="{{ 'img/w3images/wedding.jpg' | url }}" style="width:100%">
        <img src="{{ 'img/w3images/p6.jpg' | url }}" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>